In [39]:
from jinja2 import Environment, FileSystemLoader
import pandas as pd
import os

In [56]:
# Carrega template
env = Environment(loader=FileSystemLoader('.'))
template = env.get_template('template.html')

In [57]:
# Cria diretório para salvar os .html
if not os.path.isdir('html'):
    os.mkdir('html')

# Carrega dados
dados = pd.read_excel('dados.xlsx')
dados

,Nome,Coluna1,Coluna2,Coluna3,Comentários
0,Aluno1,lorem,sit,sint,- Nam soleat corrumpit no\n- Vero novum legend...
1,Aluno2,ipsum,amet,case,- ei paulo referrentur pri\n- no dolores elect...
2,Aluno3,dolor,ei,vim,- Decore soleat fuisset at vel\n- ius ex natum...

In [58]:
for aluno in dados.itertuples():
    email = template.render(aluno=aluno)
    with open(os.path.join('html', '%s.html' % aluno.Nome), 'w') as arquivo_html:
        arquivo_html.write(email)